<h1>Number Converter 3000</h1>

<p>
<%= pluralize(@past_conversions.count, 'conversion') %>
</p>

<% if @number_conversion.valid? %>
    <p>In base <%= @number_conversion.base %>:
    <%= @number_conversion.result %></p>
<% else %
    <%= @number_conversion.errors.full_messages.each do |message| %>
    <p><%= message %></p>
    <% end %>
<% end %>

<%= form_with(local: true) do |f| %>
    <div>
        <%= f.label :number, 'Enter you number: '%>
        <%= f.text_field :number, value: @number %>
    </div>

    <div>
        <%= f.label :base, 'Enter you base: '%>
        <%= f.text_field :base, value: @base %>
    </div>

    <%= f.button 'Convert'%>

    <% end %>